//plantilla para crear macros
#define STRINGIFY(x) #x
#define EXPAND_AND_STRINGIFY(x) STRINGIFY(x)
#define MACRO(NAME, BINDINGS) \
  mcr_##NAME: mcr_##NAME { \
    label = EXPAND_AND_STRINGIFY(mcr_##NAME); \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    wait-ms = <20>; \
    tap-ms = <10>; \
    bindings = <BINDINGS>; \
  };

/ {
  macros {  

/////////////////////////////////////////////////////////////// MACROS PARA TECLADO WINDOWS ///////////////////////////////////////////////////////////////

    //macro para crear la barra "\"
    MACRO(barra, &macro_press &kp LALT &macro_tap &kp KP_N9 &macro_tap &kp KP_N2 &macro_release &kp LALT)

    //macro para crear la "@"
    MACRO(arroba, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp Q &macro_release &kp LALT &macro_release &kp LCTRL)

/////////////////////////////////////////////////////////////// MACROS PARA VSC ///////////////////////////////////////////////////////////////

    //macro para mover la ventana del codigo a la izquierda en vsc
    MACRO(left, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp LEFT &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para  mover la ventana del codigo a la derecha en vsc
    MACRO(right, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp RIGHT &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para seleccionar por palabras hacia la derecha en vsc
    MACRO(selright, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp RIGHT &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para seleccionar por palabras hacia la izquierda en vsc
    MACRO(selleft, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp LEFT &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para colocar el foco en el menu del explorador de archivos en vsc
    MACRO(focoa, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp E &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para abril el menu de archivos en vsc
    MACRO(file, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp E &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para abril el menu de git en vsc
    MACRO(git, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp G &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para abril el menu de extensiones en vsc
    MACRO(ext, &macro_press &kp LCTRL &macro_press &kp RSHFT &macro_tap &kp X &macro_release &kp RSHFT &macro_release &kp LCTRL)

    //macro para abril nueva carpeta de proyecto en vsc
    MACRO(open, &macro_press &kp LCTRL &macro_tap &kp K &macro_tap &kp O &macro_release &kp LCTRL)

    //macro para cerrar carpeta actual de proyecto en vsc
    MACRO(close, &macro_press &kp LCTRL &macro_tap &kp K &macro_release &kp LCTRL &macro_tap &kp F)

   //macro para mover una linea de código hacia arriba en vsc
    MACRO(up, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp UP &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro para mover una linea de código hacia abajo en vsc
    MACRO(down, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp DOWN &macro_release &kp LALT &macro_release &kp RSHFT)

/////////////////////////////////////////////////////////////// MACROS PARA KOMOREBI ///////////////////////////////////////////////////////////////

    //macro para incrementar el tamaño de ventana enfocada en el eje y
    MACRO(incre, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp RBKT &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro para decrementar el tamaño de ventana enfocada en el eje y
    MACRO(decre, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp SLASH &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro para maximizar las ventanas en pila
    MACRO(maxi, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp F &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro para reset al orden visual de las ventanas
    MACRO(reset, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp R &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro recargar la configuración propia de Komorebi
    MACRO(resetk, &macro_press &kp RSHFT &macro_press &kp LALT &macro_tap &kp O &macro_release &kp LALT &macro_release &kp RSHFT)

    //macro para cambiar el foco a otro monitor y escritorio 1
    MACRO(escrt1, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N1 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 2
    MACRO(escrt2, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N2 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 3
    MACRO(escrt3, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N3 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 4
    MACRO(escrt4, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N4 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 5
    MACRO(escrt5, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N5 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 6
    MACRO(escrt6, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N6 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 7
    MACRO(escrt7, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N7 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para cambiar el foco a otro monitor y escritorio 8
    MACRO(escrt8, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp N8 &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para mover la ventana activa a otro monitor izquierda
    MACRO(venl, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp H &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para mover la ventana activa a otro monitor derecha
    MACRO(venr, &macro_press &kp LCTRL &macro_press &kp LALT &macro_tap &kp L &macro_release &kp LALT &macro_release &kp LCTRL)

    //macro para mover ventanas al escritorio 1
    MACRO(esmo1, &macro_press &kp LALT &macro_press &kp RSHFT &macro_tap &kp N1 &macro_release &kp RSHFT &macro_release &kp LALT)

    //macro para mover ventanas al escritorio 2
    MACRO(esmo2, &macro_press &kp LALT &macro_press &kp RSHFT &macro_tap &kp N2 &macro_release &kp RSHFT &macro_release &kp LALT)

    //macro para mover ventanas al escritorio 3
    MACRO(esmo3, &macro_press &kp LALT &macro_press &kp RSHFT &macro_tap &kp N3 &macro_release &kp RSHFT &macro_release &kp LALT)

    //macro para mover ventanas al escritorio 4
    MACRO(esmo4, &macro_press &kp LALT &macro_press &kp RSHFT &macro_tap &kp N4 &macro_release &kp RSHFT &macro_release &kp LALT)
  };
};